<p id="notice"><%= notice %></p>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Body</th>
      <th>Rate</th>
      <th>Stuff</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.username %></td>
        <td><%= comment.email %></td>
        <td><%= comment.body.html_safe %></td>
        <td><%= comment.rate %></td>
        <td><%= stuff_name(comment.stuff_id) %></td>
        <td><%= comment.status %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path, { :class => 'btn btn-warning'} %>
